@import url("../pages/content.css");
@import url("../pages/nav.css");
@import url("../pages/page.css");
@import url("../pages/client-page.css");
@import url("../pages/popup.css");
@import url("../pages/search.css");
@import url("..");
@import url("");
@import url("");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
