.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav__logo {
  max-width: 240px;
  background-color: transparent;
  border: none;
}
.nav__overlay {
  max-width: 340px;
}
